# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VeoLMS Core Team Selection Challenge ac00962259e1826b810001cdc6cb50c9.md
veolms_er_diagram.html
VeoLMS_Folder_Structure.md
VeoLMS_PRD.md
VeoLMS_Schema_Models.md
VeoLMS_Build_Playbook.md